body {
    margin: 20px;
    /*
    Challenge:
    Set the font to Verdana.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #2b2839;
    background-color: #ddebf8;
    border-bottom: 5px solid #d8cefe;
}

.dot-blue-border {
    border: 1px dotted blue;
}







